.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}

@media screen and (max-width: 420px){
  /* Common */
  body{
    margin: 0;
  }
  .row {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 0px;
    }
    img {
      height: 80px;
    }
    hr{
      margin: 0;
    }
    #lezioni, #steps, #why {
  font-size: 12px;
  padding: 10px;
}
/* Lezioni dove vuoi tu  */
    #lezioni {
      background-color: beige;
    }
    #lezioni .row>.left,
    #lezioni .row>.right {
    width: 100%;
    float: none;
    margin: auto;
    padding-top: 15px; 
    }
    #lezioni .row img {
      height: 80px;
    }
    h1, h3{
      margin: 0;
    }
    /* Come funziona */
    #steps .row>.left,
    #steps .row>.central,
    #steps .row>.right {
      float: none;
      width: 100%;
      margin: auto;
      
    }
    #steps .row img{
      margin-top: 10px;
    }
    #steps {
  background-color: white;
}
    /* Perch`e Cademi */
    #why{
      background-color: beige;
    }
    #why .row img {
    background-color: #428bca;
    border-radius: 50%;
    padding: 20px;
    height: 50px;
}
    #why .row>.first,
    #why .row>.second,
    #why .row>.third {
      margin-top: 10px;
    }
    

/* Ridimensionamento font */



}